---

- name: Copy service account yaml
  copy: src=nuage-serviceaccount.yaml dest="{{ nuage_mon_config_dir }}"

- name: Check for Nuage service account
  command: kubectl get serviceaccount
  register: serviceaccounts
  always_run: yes
  
- name: Create Nuage service account if needed
  command: kubectl create -f "{{ nuage_mon_config_dir }}"/nuage-serviceaccount.yaml
  when: "'nuage' not in serviceaccounts.stdout"

- name: Grant cluster admin permissions for nuage service account
  command: kubectl create clusterrolebinding add-on-cluster-admin   --clusterrole=cluster-admin   --serviceaccount=default:nuage --namespace=default
  ignore_errors: yes    

- name: Get the nuage service token name
  shell: kubectl get serviceaccounts/nuage -o yaml | grep -o "nuage-token.*"
  register: nuagetokenname
  retries: 5
  delay: 10

- name: Get the nuage token
  shell: kubectl describe secret "{{ nuagetokenname.stdout }}" | grep "token:" | awk '{print $2}' 
  register: nuagetoken

- name: Set nuage token fact
  set_fact:
    nuage_token: "{{ nuagetoken.stdout }}"
